

<section class="companies">
  <h2 class="subtitle">¡Tambien tenemos puntos de aprendizaje internacionales! </h2>
  <article class="slider">
    <div class="slider-track">
     

      <div class="slide">
        <img src="img/Recursos polimericos/s1.webp" alt="Imagen representativa :D"loading="lazy"> 
      </div>
      <div class="slide">
        <img src="img/Recursos polimericos/s2.webp" alt="Imagen representativa :D"loading="lazy"> 
      </div>
      <div class="slide">
        <img src="img/Recursos polimericos/s3.webp" alt="Imagen representativa :D"loading="lazy"> 
      </div>
      <div class="slide">
        <img src="img/Recursos polimericos/s4.webp" alt="Imagen representativa :D" loading="lazy">
      </div>
      <div class="slide">
        <img src="img/Recursos polimericos/s5.webp" alt="Imagen representativa :D"loading="lazy"> 
      </div>
      <div class="slide">
        <img src="img/Recursos polimericos/s6.webp" alt="Imagen representativa :D" loading="lazy">
      </div>
      <div class="slide">
        <img src="img/Recursos polimericos/s7.webp" alt="Imagen representativa :D" loading="lazy">
      </div>
      <div class="slide">
        <img src="img/Recursos polimericos/s8.webp" alt="Imagen representativa :D" loading="lazy">
      </div>
      <div class="slide">
        <img src="img/Recursos polimericos/s9.webp" alt="Imagen representativa :D"loading="lazy"> 
      </div>
      <div class="slide">
        <img src="img/Recursos polimericos/s10.webp" alt="Imagen representativa :D" loading="lazy">
      </div>
      <div class="slide">
        <img src="img/Recursos polimericos/s11.webp" alt="Imagen representativa :D" loading="lazy">
      </div>
      <div class="slide">
        <img src="img/Recursos polimericos/s12.webp" alt="Imagen representativa :D" loading="lazy">
      </div>
      <div class="slide">
        <img src="img/Recursos polimericos/s13.webp" alt="Imagen representativa :D" loading="lazy">
      </div>
    </div>
  </article>
</section>

<style>
  .companies{
    text-align: center;
    padding: 30px;
    font-size: 35px;
    font-weight: 500; 
    background-color: var(--caoba);
    color: var(--white);
}
.slider{
  width: 96%;
  margin-inline: auto;
  overflow: hidden;
  height: 340px;
  padding: 20px 0;
}
.slider .slider-track:hover{
  cursor: pointer;
  animation-play-state: paused;
}
.slider .slider-track{
  display: flex;
  height: 100%;
  width: calc(300px * 14);
  -webkit-animation: sliderImages 100s linear infinite;
  animation: sliderImages 100s linear infinite;
}
.slider .slider-track .slide img{
height: 100%;
margin: 0 1rem;
border-radius: 10px;
width: 300px;
}

/******************** ANIMACION DEL SLIDER *****************/
@keyframes sliderImages{
  0%{
    -webkit-transform: translateX(0);
    transform: translateX(0%);
  }
  100%{
    -webkit-transform: translate();
    transform: translateX(-100%);
}
}

@media only screen and (max-width: 600px) {
  .slider .slider-track{
  display: flex;
  height: 100%;
  width: calc(100% * 20);
  -webkit-animation: sliderImages 100s linear infinite;
  animation: sliderImages 100s linear infinite;
}
}
</style>