
<div class="categorias">
  <h2>Categorias</h2>
  <div class="categoria">
     <a href="/marketCursos">
  <div class="cajas">
    <i class="fa-solid fa-list"></i><span> Todo</span>
  </div>
  </a>

  <a href="/marketCursos/cursosGratis">
    <div class="cajas">
      <i class="fa-solid fa-lock-open"></i><span> Gratuitos</span>
    </div>
    </a>

    <a href="/marketCursos/cursosPaga">
      <div class="cajas">
        <i class="fa-solid fa-hand-holding-dollar"></i><span> De paga</span>
      </div>
      </a>
  </div>
 
</div>



  <style>
  
  .categorias{
    margin-top: 10%;
    padding: 0 30px;
    width: 100%;
    text-align: center;
    gap: 15px;
    cursor: pointer;

  }
  .categorias h2 {
    font-size: 25px;
  }
  .categoria{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
   .cajas {
    background-color: transparent;
    padding: 15px 30px;
    width: 100%;
    margin: 10px 0;
    color: var(--caoba);
    border-radius: 15px;
    font-weight: 600;
    border: 2px solid var(--caoba);
    transition: 0.5s;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .cajas.activo {
    background-color: var(--caoba);
    color: var(--white);
    font-weight: 500;
  }
   .cajas:hover{
    background-color: var(--caoba);
    color: var(--white);
    font-weight: 500;
  }

  @media only screen and (max-width: 600px) {
    .categorias{
        margin-top: 30%;
    }
  }
  </style> 
