<div class="bloque">
  <h1>¡Esta seccion estara disponible muy PRONTO!, te invitamos a <a href="/login">REGISTRARTE</a> y obtener recompensas exclusivas</h1>
</div>

<style>
   .bloque {
   padding: 30px;
  }
  .bloque h1{
    font-size: 30px;
    text-align: center;
    padding: 20px;
  }
  .bloque h1 a{
    color: goldenrod;
    font-weight: 600;
  }
 
 
  @media only screen and (max-width: 600px) {
    .contenedor{
      margin: 40% 10px;
    }
    .bloque{
      padding: 0;
    }
}
</style>


<script src="../js/cursos.js" is:inline></script>