<div class="bloque">
  <div class="card">
    <div class="first-content">
      <div class="image">
        <img src="/img/cursos-free/c9.jpg" alt="" />
      </div>
      <div class="titulo">
        <h2>Curso de tecnicas de pintura automotriz VOL.3</h2>
        <p>Aprende como aplicar PINTURA AUTOMOTRIZ o AUTOMOTIVA en sistema de alto relieve facil,rapido y sencillo.</p>
      </div>
      <div class="footer_curso">
        <button class="cssbuttons-io">
          <span>PlayList <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path  fill="#fff"  d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/></svg></span>
        </button>
      </div>
      </div>
  </div>

  <div class="card">
    <div class="first-content">
      <div class="image">
        <img src="/img/cursos-free/c8.jpg" alt="" />
      </div>
      <div class="titulo">
        <h2>Curso de pintura automotriz VOL.2 / master painter celebrity</h2>
        <p>En esta edición de nuestro curso de pintura automotriz 2021 queremos dar a conocer nuevas tecnicas para llevar tu negocio al siguiente nivel, así que prepárate para la evolución de la industria automotriz y participa por la certificación MASTER PAINTER CELEBRITY.
          Recuerda que en la edición del 2020 tuvimos un curso muy completo desde el alistamiento y aun estas a tiempo de aprender las tecnicas.</p>
      </div>
      <div class="footer_curso">
        <button class="cssbuttons-io">
          <span>PlayList <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path  fill="#fff"  d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/></svg></span>
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="first-content">
      <div class="image">
        <img src="/img/cursos-free/c7.jpg" alt="" />
      </div>
      <div class="titulo">
        <h2>Curso de pintura automotriz profesional paso a paso</h2>
        <p>
          En nuestro curso te enseñaremos paso a paso lo necesario para que puedas ser un PINTOR AUTOMOTRIZ, tendrás la oportunidad de certificarte totalmente gratis no te pierdas ninguno de nuestros vídeos y SUSCRIBETE.

        </p>
      </div>
      <div class="footer_curso">
        <button class="cssbuttons-io">
          <span
            >PlayList <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              ><path
                fill="#fff"
                d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
              ></path></svg
            ></span
          >
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="first-content">
      <div class="image">
        <img src="/img/cursos-free/c6.jpg" alt="" />
      </div>
      <div class="titulo">
        <h2>Curso online gratis y certificado de comunicación efectiva</h2>
        <p>
          En el primer vídeo encontraras como poder participar de este maravilloso curso, aquí comenzaremos a subir los tutoriales y dejar las respectivas tareas.

        </p>
      </div>
      <div class="footer_curso">
        <button class="cssbuttons-io">
          <span
            >PlayList <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              ><path
                fill="#fff"
                d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
              ></path></svg
            ></span
          >
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="first-content">
      <div class="image">
        <img src="/img/cursos-free/c5.jpg" alt="" />
      </div>
      <div class="titulo">
        <h2>Porcelanato liquido 3d curso practico</h2>
        <p>
          En nuestro curso de PORCELANATO LIQUIDO 3D paso a paso y en español, podrás aprender a realizar las tecnicas de MARMOLIZADO, PIGMENTADOS, METALIZADO, MIREYADOS Y PISOS 3D. Así que no te pierdas de esta CAPACITACIÓN GRATUITA de talla internacional.
        </p>
      </div>
      <div class="footer_curso">
        <button class="cssbuttons-io">
          <span
            >PlayList <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              ><path
                fill="#fff"
                d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
              ></path></svg
            ></span
          >
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="first-content">
      <div class="image">
        <img src="/img/cursos-free/c4.jpg" alt="" />
      </div>
      <div class="titulo">
        <h2>Pinturas especiales y efectos novedosos (auto motriz)</h2>
        <p>
          stamos en vanguardia frente a las ultimas técnicas en pinturas, ejemplo el trabajo realizado en nuestro taller, un vehículo totalmente pintado en técnica holografía, si quiere aprender esta y muchas mas técnicas visita nutras redes sociales. 
        </p>
      </div>
      <div class="footer_curso">
        <button class="cssbuttons-io">
          <span
            >PlayList <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              ><path
                fill="#fff"
                d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
              ></path></svg
            ></span
          >
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="first-content">
      <div class="image">
        <img src="/img/cursos-free/c3.jpg" alt="" />
      </div>
      <div class="titulo">
        <h2>Nuevos metodos para cromar sin costosas maquinas</h2>
        <p>
          Te gustaria ser parte del nuevo sistema que esta cambiando el mundo, te presentamos nuestro proximo estreno que se realizara el 14 y 15 de diciembre de 2019 y estara a la venta apartir del 1 de febrero de 2020 comunicate hoy mismo al 3115227755.
        </p>
      </div>
      <div class="footer_curso">
        <button class="cssbuttons-io">
          <span
            >PlayList <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              ><path
                fill="#fff"
                d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
              ></path></svg
            ></span
          >
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="first-content">
      <div class="image">
        <img src="/img/cursos-free/c2.jpg" alt="" />
      </div>
      <div class="titulo">
        <h2>Curso hidrocromo, cromo al agua o efecto espejo</h2>
        <p>
          Que este 2020 llegue la innovacion a tu negocio, nunca fue tan facil cromar y personalizar cualquier objeto, aprende con los mejores comunicate hoy mismo 3115227755
        </p>
      </div>
      <div class="footer_curso">
        <button class="cssbuttons-io">
          <span
            >PlayList <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              ><path
                fill="#fff"
                d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
              ></path></svg
            ></span
          >
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="first-content">
      <div class="image">
        <img src="/img/cursos-free/c1.jpg" alt="" />
      </div>
      <div class="titulo">
        <h2>Hidrografia o hidroimpresion curso</h2>
        <p>
          estas listo para llevar tu negocio al siguiente nivel? ven y aprende con los mejores del continente, si compartes este vídeo recibe un 10% adicional de descuento en nuestros cursos totalmente prácticos.
        </p>
      </div>
      <div class="footer_curso">
        <button class="cssbuttons-io">
          <span
            >PlayList <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              ><path
                fill="#fff"
                d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
              ></path></svg
            ></span
          >
        </button>
      </div>
    </div>
  </div>

  

  

  

  

  
 

  


  
  </div>
</div>

<style>
  .bloque {
    overflow: hidden;
    padding: 30px 20px;
    width: 100%;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card {
    width: 330px;
    height: 100%;
    transition: all 0.4s;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
    box-shadow: var(--shadow);
    margin: 10px;
  }

  .card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: translateY(-8px);
  }
  .card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    opacity: 1;
    border-radius: 15px;
  }

  .titulo {
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
  }
  .titulo p {
    font-size: 13px;
    font-weight: lighter;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: auto;
    width: 100%;
}
  .footer_curso {
    padding: 0 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .cssbuttons-io {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background: linear-gradient(
      to right,
      var(--gold),
      rgba(255, 217, 0, 0.644)
    );
    color: ghostwhite;
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
  }

  .cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
  }

  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    color: var(--white);
    gap: 10px;
    padding: 0.8em 1.2em 0.8em 1.2em;
  }

  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .cssbuttons-io::before {
    content: "";
    background: var(--caoba);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }

  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }

  .cssbuttons-io:active {
    transform: scale(0.95);
  }

  @media only screen and (max-width: 600px) {
    .contenedor {
      margin: 40% 10px;
    }
    .bloque {
      padding: 0;
    }
    .card {
      width: 350px;
      height: 100%;
      
  }
  .cssbuttons-io{
        margin-bottom: 15px
      }}
</style>

<script src="../js/cursos.js" is:inline></script>
