

<section class="companies">
  <h2 class="subtitle">¡Conoce más de nuestro trabajo! </h2>
  <article class="slider">
    <div class="slider-track" id="imgTrabajo">

    </div>
  </article>
</section>

<style>
  .companies{
    text-align: center;
    margin: 30px;
    font-size: 35px;
    font-weight: 500; 
}
.slider{
  width: 96%;
  margin-inline: auto;
  overflow: hidden;
  height: 340px;
  padding: 20px 0;
}
.slider .slider-track:hover{
  cursor: pointer;
  animation-play-state: paused;
}
.slider .slider-track{
  display: flex;
  height: 100%;
  width: calc(300px * 22);
  -webkit-animation: sliderImages 100s linear infinite;
  animation: sliderImages 100s linear infinite;
}


/******************** ANIMACION DEL SLIDER *****************/
@keyframes sliderImages{
  0%{
    -webkit-transform: translateX(0);
    transform: translateX(0%);
  }
  100%{
    -webkit-transform: translate();
    transform: translateX(-100%);
}
}

@media only screen and (max-width: 600px) {
  .slider .slider-track{
  display: flex;
  height: 100%;
  width: calc(100% * 20);
  -webkit-animation: sliderImages 100s linear infinite;
  animation: sliderImages 100s linear infinite;
}
}
</style>

<script src="../js/img.js" is:inline></script>